@import "tailwindcss";

@font-face {
    font-family: 'CustomFont';
    src: url('../public/Agrandir-TextBold.otf') format('opentype');
    font-weight: 800;
}

/* Example usage */
body {
    font-family: 'CustomFont', sans-serif;
}

.slick-list {
    height: 300px !important;
  }

  
.slick-prev, .slick-next {
    display: none !important;
  }
  